doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Tea Shop | #{title}
        link(rel="stylesheet" href="/css/style.css")
        link(rel="icon" type="image/x-icon" href="/img/favicon.ico")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css")
    body
        // HEADER
        include header 
        // CONTENT
        block content 
            h1 This is a placeholder heading

        // FOOTER
        include footer

        // BOOTSTRAP
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js")

        // JS 
        script(src="/js/login.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js")

        // Implement parcel bundler
        //- script(src="/js/bundle.js")



