header.header
    nav.nav.nav--teas
        a.nav__el(href="/") View All Teas
    .header__logo
        img(src="/img/bobamilk.png" alt="Boba Tea Logo")
    nav.nav.nav--user 
        //- a.nav__el(href="#") My Teas
        //- a.nav__el(href="#")
        //-     img.nav__user-img(src="img/user.jpg" alt="User Photo")
        //-     span Kailey
        a.nav__el.btn.btn-light(href="/login") Login 
        a.nav__el.btn.btn-light(href="#") Sign Up