body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: aliceblue;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

footer {
  background-color: aliceblue;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.footer__nav {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

li {
  display: inline;
  padding: 10px 30px;
}

section.overview {
  text-align: center;
}

img {
  height: 100px;
  width: 100px;
  margin-left: 70px;
}

h1.title {
  margin-left: 20px;
}

.card {
  width: 240px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-tea {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.login-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 100px;
}

.user-img {
  border: #000000 2px solid;
  border-radius: 80px;
}

.nav--user {
  margin-right: 1rem;
}

.nav__el,
.nav__el:link,
.nav__el:visited {
  color: #000000;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-weight: 400;
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
}
.nav__el:hover,
.nav__el:active {
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
  text-shadow: 0 0.7rem 1rem rgb(85, 83, 83);
}

.alert--error {
  background-color: red;
}

.alert--success {
  background-color: greenyellow;
}
