body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header {
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

footer {
  background-color: aliceblue;
}

ul.footer__nav {
  font-family: cursive;
}

section.overview {
  text-align: center;
}

img {
  height: 100px;
  width: 100px;
  margin-left: 70px;
}

h1.title {
  margin-left: 20px;
}

.card {
  width: 240px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
